[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/masmerino13
[access "refs/for/refs/*"]
	read = group user/masmerino13
	push = group user/masmerino13
	label-Code-Review = -2..+2 group user/masmerino13
	label-Verified = -1..+1 group user/masmerino13
	rebase = group user/masmerino13
	removeReviewer = group user/masmerino13
	submit = group user/masmerino13
[access "refs/heads/*"]
	read = group user/masmerino13
	create = group user/masmerino13
	push = +force group user/masmerino13
	pushMerge = group user/masmerino13
[access "refs/tags/*"]
	push = +force group user/masmerino13
	pushTag = group user/masmerino13
	pushSignedTag = group user/masmerino13
